@model WatchModel2
@*@model ImageModelV2*@

@using (Html.BeginForm("UpdateItem", "WatchCatalog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr class="mt-0 mb-4" />
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Item Image</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile ro  unded-circle mb-2" src="@Model.Image" alt="">

                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG</div>
                    <!-- Profile picture upload button-->
                    @*@Html.EditorFor(m => m.Image, new { @class = "form-control" })*@
                    <input type="file" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <input id="del" type="button" class="btn btn-primary" value="Edit" /> &nbsp;
                  @*  <input type="button" class="btn btn-warning" onclick=confirmDelete() value="Delete" data-toggle="modal" data-target="#myModal" />*@
                   @* <input type="button"  class="btn btn-warning" onclick=mydelete(@Model.ItemNo) value="Delete" />*@
                    @*<input type="button" class="btn btn-warning" onclick="@Url.ActionLink("Delete","WatchCatalog", new {id = Model.ItemNo})" value="Delete">*@
                    @*<input type="button" id="delete" class="btn btn-warning" value="Delete">*@
                    @Html.ActionLink("Delete Items","DelItem","WatchCatalog", new{id = Model.ItemNo})
                   @* <a href='@Html.ActionLink("DeleteItem","WatchCatalog", new{id = Model.ItemNo})' class="btn btn-danger">Delete</a>*@
                </div>
            </div>
            <br />
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Item Details</div>
                <div class="card-body">
                   <input type="hidden" id="updateID" value="@Model.ItemNo" />
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.ItemNo, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.ItemNo, new { @Value = (Model.ItemNo), @class = "form-control", id = "itemNo", @readonly="readonly"})
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.ItemName, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.ItemName, new { @Value = (Model.ItemName), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Price, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Price, new { @Value = (Model.Price), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.ShortDescription, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.ShortDescription, new { @Value = (Model.ShortDescription), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.FullDescription, new { @class = "small mb-1"})
                        @Html.TextAreaFor(m => m.FullDescription, new { @Value = (Model.FullDescription), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Caliber, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Caliber, new { @Value = (Model.Caliber), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Movement, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Movement, new { @Value = (Model.Movement), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Chronograph, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Chronograph, new { @Value = (Model.Chronograph), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Weight, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Weight, new { @Value = (Model.Weight), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Height, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Height, new { @Value = (Model.Height), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Diameter, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Diameter, new { @Value = (Model.Diameter), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Thickness, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Thickness, new { @Value = (Model.Thickness), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Jewel, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.Jewel, new { @Value = (Model.Jewel), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.CaseMaterial, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.CaseMaterial, new { @Value = (Model.CaseMaterial), @class = "form-control"})
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.StrapMaterial, new { @class = "small mb-1"})
                        @Html.TextBoxFor(m => m.StrapMaterial, new { @Value = (Model.StrapMaterial), @class = "form-control"})
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-outline-success" type="submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=mydelete()>Confirm</button>
            </div>
        </div>
    </div>
</div>

