@*@model IList<WatchModel2>
@{
    ViewData["Title"] = "List of Item";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item No</th>
            <th>Item Name</th>
            <th>Short Desc</th>
            <th>Full Desc</th>
            <th>Movement</th>
            <th>Caliber</th>
            <th>Price</th>
            <th>Chronograph</th>
            <th>Image</th>
            <th>Diameter</th>
            <th>Thickness</th>
            <th>ItemNo</th>
            <th>Movement</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.ItemNo)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.FullDescription)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Movement)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Caliber)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Chronograph)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Diameter)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Thickness)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.ItemNo)
                </td>
                <td>
                    @Html.ActionLink("UPDATE","GetById", new{id = item.ItemNo})
                    @Html.ActionLink("DELETE","DeleteItem", new{id = item.ItemNo})
                    @Html.ActionLink("ADD","AddItem", new{id = item.ItemNo})
                </td>
            </tr>
        }
    </tbody>
</table>*@
