@model IList<WatchModel2>
@*@using MultipleModelInOneView;
@model dynamic*@

<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-1 my-1">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://msavaaccenturestorage.blob.core.windows.net/watchcontainer/john-torcasio-TJrkkhdB39E-unsplash (1).jpg" class="d-block w-100" style="height:300px" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://msavaaccenturestorage.blob.core.windows.net/watchcontainer/john-torcasio-OvcuGfIwHuc-unsplash.jpg" class="d-block w-100" style="height:300px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://msavaaccenturestorage.blob.core.windows.net/watchcontainer/heidi-fin-M2Kxb80gqcc-unsplash.jpg" class="d-block w-100" style="height:300px" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        @*<div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>*@
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.Image" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.ItemName</h5>
                                    <!-- Product price-->
                                    @item.Price
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                @Html.ActionLink("View Details","GetDetails","WatchCatalog", new{id = @item.ItemNo})
                                @*@Html.ActionLink("UPDATE","GetById", new{id = item.ItemNo}) *@
                                @*<div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="WatchCatalog" asp-action="GetDetails">View Details</a></div>*@
                                @*<div class="text-center"><a class="btn btn-outline-dark mt-auto">View Details</a></div>*@

                            </div>
                        </div>
                    </div>
                }

            }
            
            @*<div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
@*@{
    Html.RenderPartial("PartialItemView");
}*@
@*@{
    Html.RenderPartial("PartialView");
}*@
<!-- Footer-->
@*<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>*@