@model IList<WatchModel2>
@if (ViewBag.ErMessage != null)
{
	<div class="text-danger">
		<h6>@ViewBag.ErMessage</h6>
	</div>
	<hr />
}
<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1 rs1-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url(https://avablobstorage2.blob.core.windows.net/msavaaccenture/slide101-08.jpg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-202 cl2 respon2">
								Watch Collection 2018
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
								@*New arrivals*@
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" asp-action="ViewShop" asp-controller="WatchCatalog">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url(https://avablobstorage2.blob.core.windows.net/msavaaccenture/slide101-07.jpg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-202 cl2 respon2">
								Watch Collection 2019
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
								@*New Arrival*@
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
							<a  asp-action="ViewShop" asp-controller="WatchCatalog" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url(https://avablobstorage2.blob.core.windows.net/msavaaccenture/slide101-09.jpg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-202 cl2 respon2">
								Watch Collection 2020
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
							@*	NEW SEASON*@
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a asp-action="ViewShop" asp-controller="WatchCatalog" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url(https://avablobstorage2.blob.core.windows.net/msavaaccenture/slide101-10.jpg);">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-202 cl2 respon2">
								Watch Collection 2021
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
								@*	NEW SEASON*@
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a asp-action="ViewShop" asp-controller="WatchCatalog" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@if(Model != null)
{
	@if (Model.Count() > 0)
	{
		<!-- Product -->
		<section class="sec-product bg0 p-t-100 p-b-50">
			<div class="container">
				<div class="p-b-32">
					<h3 class="ltext-105 cl5 txt-center respon1">
						Overview
					</h3>
				</div>

				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#sale" role="tab">Watch Feature</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-50">
						<!-- - -->
						@*<div class="tab-pane fade show active" id="sale" role="tabpanel">
				<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Add Item</button>
				<br />*@
						@if (Model.Count() > 0)
						{
							<!-- Slide2 -->
							<div class="wrap-slick2">
								<div class="slick2">
									@foreach (var item in Model)
									{
										<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
											<!-- Block2 -->
											<input type="hidden" id="itemId" value="@item.ItemNo">
											<div class="block2">
												<div class="block2-pic hov-img0">
													<img src="@item.Image" alt="IMG-PRODUCT">

													@*<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">*@
													@*<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" asp-action="GetDetails" asp-controller="WatchCatalog" asp-route-id="@item.ItemNo">*@
													<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" asp-action="GetDetails" asp-controller="WatchCatalog" asp-route-id="@item.ItemNo">
														View details
													</a>
												</div>

												<div class="block2-txt flex-w flex-t p-t-14">
													<div class="block2-txt-child1 flex-col-l" style="text-align:center;">

														<div class="stext-104 cl4 trans-04 js-name-b2 p-b-6">
															@item.ItemName
														</div>
														<span class="stext-105 cl3">
															<b>@item.Price.ToString("C")</b>
														</span>
														<div class="justify-content-center" style="margin-top:0.5rem;">
															<p class="stext-105 cl3">
																@item.ShortDescription
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
						}

					</div>
				</div>
			</div>
		</section>
		<br />
		<br />
	}
	else
	{
		<br />
		<center>
			<h5>
				No product available
			</h5>
		</center>

		<br />
	}
}

