<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalog Watch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://avablobstorage2.blob.core.windows.net/msavaaccenture/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/css/util.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/design/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/temp/partial.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">

</head>
<body class="animsition">

    <!-- Header -->
    <header class="header-v2">
        <!-- Header desktop -->
        <div class="container-menu-desktop trans-03">
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop p-l-45">

                    <!-- Logo desktop -->
                    <a class="logo" asp-controller="Home" asp-action="Index">
                        <img src="https://avablobstorage2.blob.core.windows.net/msavaaccenture/logo.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li>
                                <a asp-controller="WatchCatalog" asp-action="AddItem">Add Item</a>
                            </li>

                            <li>
                                <a asp-action="ViewShop" asp-controller="WatchCatalog">Shop</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a asp-controller="Home" asp-action="Index"><img src="https://avablobstorage2.blob.core.windows.net/msavaaccenture/logo.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <a asp-controller="WatchCatalog" asp-action="AddItem">Add Item</a>
                </li>

                <li>
                    <a asp-action="ViewShop" asp-controller="WatchCatalog">Shop</a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <!-- Footer -->
    @*<footer class="bg3 p-t-75 p-b-32">*@
    <footer class="bg3 p-t-10 p-b-10">
        <div class="container">
            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
 @*   <script src="~/design/vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/design/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/bootstrap/js/popper.js"></script>
    <script src="~/design/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/design/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/slick/slick.min.js"></script>
    <script src="~/design/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/sweetalert/sweetalert.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/design/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <!--===============================================================================================-->
    <script>
        'use strict'

        // gallery
        $('.gallery-lb').each(function () { 
            $(this).magnificPopup({
                delegate: 'a', 
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });

        // scroll
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });

        //validation for number only
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        //decimal textbox validation
        function limitDec(id) {
            // find elements
            var amt = $('.pr')
            var height = $('.he')
            var weight = $('.we')
            var thick = $('.th')
            var diameter = $('.di')

            // handle keyup
            height.on("keyup", function () {
                if (isNaN(height.val())) {
                    height.val(0);
                }
                if (height.val().indexOf(".") > -1 && (height.val().split('.')[1].length > 2)) {
                    height.val(height.val().substring(0, height.val().length - 1));
                }
            })

            amt.on("keyup", function () {
                if (isNaN(amt.val())) {
                    amt.val(0);
                }
                if (amt.val().indexOf(".") > -1 && (amt.val().split('.')[1].length > 2)) {
                    amt.val(amt.val().substring(0, amt.val().length - 1));
                }
            })

            weight.on("keyup", function () {
                if (isNaN(weight.val())) {
                    weight.val(0);
                }
                if (weight.val().indexOf(".") > -1 && (weight.val().split('.')[1].length > 2)) {
                    weight.val(weight.val().substring(0, weight.val().length - 1));
                }
            })

            thick.on("keyup", function () {
                if (isNaN(thick.val())) {
                    thick.val(0);
                }
                if (thick.val().indexOf(".") > -1 && (thick.val().split('.')[1].length > 2)) {
                    thick.val(thick.val().substring(0, thick.val().length - 1));
                }
            })

            diameter.on("keyup", function () {
                if (isNaN(diameter.val())) {
                    diameter.val(0);
                }
                if (diameter.val().indexOf(".") > -1 && (diameter.val().split('.')[1].length > 2)) {
                    diameter.val(diameter.val().substring(0, diameter.val().length - 1));
                }
            })
        }
    </script>

    <script>
        var Watch_Url = {
            del_url: '@Url.Action("DeleteItems","WatchCatalog")',
            view_url: '@Url.Action("Index","Home")',
            update_url: '@Url.Action("UpdateItem", "WatchCatalog")',
            getdetails_url: '@Url.Action("GetDetails", "WatchCatalog")',
        }
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
            @await RenderSectionAsync("Scripts", required: false);
        }

</body>
</html>

